@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-10 py-2 my-0 font-bold tracking-[.3em] uppercase border-2 border-black font-sans hover:bg-black hover:text-white;
  }
}

#hero {
  background-image: url("../public/images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: "576px") {
  #hero {
    background-image: url("../public/images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
